@media screen and (max-width: 991.98px) {
  .modal-dialog {
    margin: 0;
    border-radius: 0px;
    height: 100vh;
    max-width: 300px;
  }
  .hidden {
    display: none;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .text--center {
    text-align: center;
  }
}

/* Màn hình desktop */
@media screen and (min-width: 992px) {
  .hide-btn {
    display: none;
  }

  .hidden-block {
    display: none;
  }
}

/* Màn hình mobile */
@media screen and (max-width: 575.98px) {
  .modal-dialog {
    margin: 0;
    border-radius: 0px;
    height: 100vh;
    max-width: 300px;
  }
  .hide-mobile {
    display: none;
  }
  .fs-12-mobile {
    font-size: 12px !important;
  }
  .fs-16-mobile {
    font-size: 16px !important;
  }

  .line-height-mobile {
    font-size: 16px !important;
    line-height: 30px !important;
  }
}

/* Màn hình tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
  .modal-dialog {
    margin: 0;
    border-radius: 0px;
    height: 100vh;
    max-width: 300px;
  }

  .hidden-tablet {
    display: none;
  }
  .fs-14-tablet {
    font-size: 14px !important;
  }
  .fs-18-tablet {
    font-size: 18px !important;
  }
}
