/* Màn hình tablet, mobile */
@media screen and (max-width: 991.98px) {
  .modal-dialog {
    margin: 0;
    border-radius: 0px;
    height: 100vh;
    max-width: 300px;
  }
  .hidden {
    display: none;
  }

  .dlex-center {
    display: flex;
    justify-content: center;
  }
}

/* Màn hình desktop */
@media screen and (min-width: 992px) {
}

/* Màn hình mobile */
@media screen and (max-width: 575.98px) {
  .modal-dialog {
    margin: 0;
    border-radius: 0px;
    height: 100vh;
    max-width: 300px;
  }

  .fs-12-mobile {
    font-size: 12px !important;
  }
  .fs-16-mobile {
    font-size: 16px !important;
  }

  .hidden {
    display: none;
  }

  .mt-20-mobile {
    margin-top: 20px;
  }
}

/* Màn hình tablet */
@media (min-width: 576px) and (max-width: 767.98px) {
  .modal-dialog {
    margin: 0;
    border-radius: 0px;
    height: 100vh;
    max-width: 300px;
  }

  .fs-14-tablet {
    font-size: 14px !important;
  }
  .fs-18-tablet {
    font-size: 18px !important;
  }

  .mt-20-tablet {
    margin-top: 20px;
  }
}
