.nav__list {
  font-size: 16px;
  line-height: 60px;
}

.nav__item a {
  color: #233142;
}

.modal-content {
  border-radius: 0;
  height: 100vh;
}

.button-primary {
  background-color: white;
  color: #1a4bc2;
  font-weight: 600;
  border-radius: 15px;
  border: 1px solid #1a4bc2;
}
.button-primary:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.45);
}

.header {
  background-color: #1a4bc2;
  position: sticky;
  top: 0;
  z-index: 99999;
}
.header__menu {
  display: flex;
  font-size: 16px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.header__link {
  color: white;
}

/* Slide */
.slide {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/image/banner-slide-phan-mem-quan-ly-nha-khoa.jpg);
  color: white;
}
.slide__content {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.slide .content-list {
  line-height: 20px;
}
.slide .content-item {
  color: #fff;
  position: relative;
  margin-left: 40px;
  margin-bottom: 24px;
}
.slide .content-check {
  background-image: url(/image/slide-check.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 28px;
  height: 24px;
  display: block;
  position: absolute;
  left: -40px;
  top: -4px;
}

/* Feature */
.feature {
  margin-top: 20px;
}
.feature .title {
  text-align: center;
  color: #233142;
  font-size: 20px;
  font-weight: 600;
}
.feature .card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.feature .content {
  color: #7b8796;
  font-weight: 400;
  line-height: 22px;
}
.feature .card {
  border: none;
  align-items: center;
  gap: 50px;
  padding: 25px;
  cursor: pointer;
}
.feature .card > img {
  width: 150px;
  padding: 20px;
  border-radius: 100%;
  box-shadow: 0 10px 20px 0 rgba(218, 225, 233, 0.45);
  background-color: white;
}
.feature .card:hover .content {
  color: white;
}
.feature .card:hover .title {
  color: white;
}
.feature .card:hover {
  background: #0049b8;
  border-radius: 24px;
  box-shadow: 0 10px 20px 0 rgba(148, 162, 177, 0.45);
  cursor: pointer;
  color: white;
  transition: all 0.2s linear;
}

/* Price */
.price {
  background-image: url(/image/banner-slide-phan-mem-quan-ly-nha-khoa.jpg);
}
.price__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.price__desc {
  color: white;
}
.price-table {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(122, 135, 151, 0.25);
  border-radius: 24px;
  max-width: 520px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.price-name {
  background: #0049b8;
  text-align: center;
  color: white;
  padding: 32px 0;
}
.price-count {
  font-size: 48px;
  line-height: 66px;
  font-weight: 500;
  color: #0049b8;
}
.price-count .desc {
  font-size: 32px;
}
.price-content {
  font-size: 18px;
  color: #233142;
  line-height: 25px;
}
.price-content .dflex {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 50px;
}
.price-table-endow {
  background: #fff;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(122, 135, 151, 0.25);
  border-radius: 24px;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.price-table-endow .table-endow {
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
}
.price-table-endow .table-endow .desc {
  margin-top: 10px;
  font-weight: normal;
  font-size: 18px;
}

.contact {
  background-image: url(/image/banner-slide-phan-mem-quan-ly-nha-khoa.jpg);
}
.contact-text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-info {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: -1px 8px 10px rgba(0, 0, 0, 0.1);
  margin-top: -145px;
}
.contact-info-list {
  padding: 40px 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-info-item {
  color: white;
  font-size: 16px;
}
.contact-info-item a {
  color: white;
}
.contact-info .social-networks {
  display: flex;
  padding: 0;
  gap: 15px;
}

/*# sourceMappingURL=app.css.map */
